.hero {
    font-size: 2.2rem; /* Slightly larger font size */
    text-align: center; /* Center text in hero section */
}

.home-info1 p, .home-info2 p {
    font-size: 22px; /* Slightly larger font size */
    text-align: justify; /* Justify text for better appearance */
    line-height: 1.6; /* Increase line height for better spacing */
    color: #4e5866; /* Grey-blue color */
}

.see-menu-button a {
    font-size: 22px; /* Slightly larger font size */
}

.show-centered-container,
.columns.is-multiline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e5ec; /* Light grey-blue background color */
    color: #4e5866; /* Grey-blue lettering */
}

/* Adjust image styles */
.home-info img {
    max-width: 100%;
    height: auto;
    margin: 20px 0; /* Add margin for better spacing */
}

@media (max-width: 700px) {
    .hero div {
        font-size: 1.8rem; /* Slightly larger font size for smaller screens */
    }

    .home-info1 p, .home-info2 p, .text-center p {
        font-size: 18px; /* Slightly larger font size for smaller screens */
    }

    .text-center h5 {
        margin-bottom: 1px;
        margin-top: 15px;
        font-size: 18px; /* Slightly larger font size for smaller screens */
    }

    .see-menu-button a {
        font-size: 16px; /* Slightly larger font size for smaller screens */
    }

   
}
